html {

}

.main_body {
	@extend %clearfix;
}

.site_header {
	width: 100%;
	margin: 0 auto #{20 / $em}rem auto;
	@extend %clearfix;
	border-bottom: 1px solid #cccccc;
	@media #{$mobile} {
		width: 100%;
	}
}

.site_logo {
	width: #{620 / $em}rem;
	margin: 0 auto;
	//background-image: $gi_logo_med_black;
	//background-repeat: no-repeat;
	//background-position: 0 50%;
	height: 7rem;
	font-size: 17rem;
	line-height: 0.2em;
	font-family: $getty_icofont;
	span {
		@extend %hide_text;
	}
	@media #{$mobile} {
		text-align: center;
		width: 100%;
	}
	a {
		color: #000;
		&:hover, &:active {
			text-decoration: none;
		}
	}
}

.legal_footer {
	border-top: 1px solid #cccccc;
	margin-top: 20px;
	width: 100%;
	padding-top: #{20 / $em}rem;
	.content {
		width: #{620 / $em}rem;
		margin: 0 auto; 
		@media #{$mobile} {
			width: 90%;
			margin: 0 5%;
		}
	}
}

.login_container {
	@extend %clearfix;
	width: #{620 / $em}rem;
	margin: 0 auto;
	background: white;
	.left, .right {
		width: #{290 / $em}rem;;
		margin-right: #{20 / $em}rem;;
		float: left;
		@extend %clearfix;
	}
	.right {
		margin-left: #{20 / $em}rem;;
		margin-right: 0;
	}
	@media #{$mobile} {
		box-sizing: border-box;
		width: 90%;
		margin: 0 5%;
		display:-webkit-box;
		-webkit-box-orient:vertical;

		.left, .right {
			float: none;
			width: auto;
			margin-left: 0;
			margin-right: 0;
		}
		.right {
			@include box_ordinal_group(2);
		}
		.left {
			@include box_ordinal_group(1);
		}
	}
}

.login_footer {
	width: #{300 / $em}rem;
	clear: both;
	@media #{$mobile} {
		margin: #{20 / $em}rem 0;
	}
}

form {
	margin: 1rem 0;
}

label {
	display: block;
	font-weight: bold;
	margin-top: #{10 / $em}rem;
	line-height: 2em;
	color: #000;
	&:first-child {
		margin-top: 0;
	}
	@extend %mobile_hide;
	@media #{$mobile} {
		line-height: 0;
		margin: 0;
	}
	
}

fieldset {
	ol {
		&:last-of-type {
			margin-bottom: 1rem;
		}
		li {
			&:nth-child(n+2) {
				margin-top: 1rem;
				@media #{$mobile} {
					margin: 0;
				}
			}
		}
	}
}

input[type=email], input[type=password] {
	border: 1px solid gray;
	font-family: arial;
	font-size: #{18 / $em}em;
	height: 2em;
	width: 100%;
	padding: 0 #{5 / $em}em;
	box-sizing: border-box; 
	@include border-radius(0);  // by default iOS rounds form field corners
	
	&::-webkit-input-placeholder {
		color: transparent;
	}
	@media #{$mobile} {
		width: 100%;
		height: 2em;
		-webkit-appearance: none;  // this is to remove the default inner shadow
		&::-webkit-input-placeholder {
			color: #ccc;
			//font-weight: normal !important;
			//font-family: arial !important;
			//font-size: 1rem;
		}
	}
	@media #{$tablet} {
		-webkit-appearance: none;
	}
}

input[type=password] {
	@media #{$mobile} {
		border-top: 0;
	}
}


button {
	font-family: arial;
	border: 1px solid gray;
	font-size: 1.3rem;
	background-color: #3cda07;
	background: -webkit-linear-gradient(top, #3cda07 0%,#299505 100%);
	border: 1px solid #299505;
	@include border-radius(#{5 / $em}rem, #{5 / $em}rem);
	color: white;
	padding: 0.5em #{10 / $em}em;
	min-height: 2em;
	margin: 0;
	@include single-text-shadow(gray, 0, #{2 / $em}rem, #{10 / $em}rem);
	
	@media #{$mobile} {
		width: 100%;
	}
}









