html {
	background: transparentize(orange, 0.2);
	//-webkit-transition:All 1s ease;
	@media #{$mobile} {
		background: transparentize(blue, 0.2);
	}
}

.login_container {
	//-webkit-transition:All 1s ease;
	@extend %clearfix;
	width: #{620 / $em}rem;
	margin: #{100 / $em}rem auto 0 auto;
	border: #{10 / $em}rem solid black;
	@include border-radius(#{8 / $em}rem);
	@include box-shadow(0 0 #{30 / $em}rem transparentize(black, 0.2));
	padding: #{20 / $em}rem;
	background: white;
	@media #{$mobile} {
		box-sizing: border-box;
		width: 90%;
		margin: 5%;
		@include box-shadow(0 0 0 transparentize(black, 0));
		border: 0;
		display:-webkit-box;
		-webkit-box-orient:vertical;
	}
	.left, .right {
		width: #{300 / $em}rem;;
		margin-right: #{10 / $em}rem;;
		float: left;
		@extend %clearfix;
	}
	.right {
		margin-left: #{10 / $em}rem;;
		margin-right: 0;
	}
	@media #{$mobile} {
		.left, .right {
			float: none;
			width: auto;
			margin-left: 0;
			margin-right: 0;
		}
		.right {
			@include box_ordinal_group(2);
		}
		.left {
			@include box_ordinal_group(1);
		}
	}
}

footer {
	width: 100%;
	clear: both;
	@media #{$mobile} {
		margin-bottom: #{20 / $em}rem;
	}
}

form {
	margin: #{10 / $em}rem 0;
}

label {
	display: block;
	font-weight: bold;
	margin-top: #{10 / $em}rem;
	&:first-child {
		margin-top: 0;
	}
}

input[type=email], input[type=password] {
	border: 1px solid gray;
	font-size: #{18 / $em}em;
	height: 2em;
	width: 100%;
	padding: 0 #{5 / $em}em;
	box-sizing: border-box; 
	@include border-radius(#{5 / $em}em, #{5 / $em}em);
	&:last-of-type {
		margin-bottom: 1em;
	}
	@media #{$mobile} {
		width: 100%;
		height: 2em;
	}
}


button {
	border: 1px solid gray;
	font-size: 1.5em;
	background: -webkit-linear-gradient(top, #3cda07 0%,#299505 100%);
	border: 1px solid #299505;
	@include border-radius(#{5 / $em}rem, #{5 / $em}rem);
	color: white;
	font-weight: bold;
	padding: 0 #{10 / $em}rem;
	line-height: 2em;
	@include single-text-shadow(gray, 0, #{2 / $em}rem, #{10 / $em}rem);
	margin-bottom: 0.5rem;
	
	@media #{$mobile} {
		width: 100%;
	}
}









