@font-face
{
	font-family:"ITC Lubalin Graph";
	src: url("Fonts/Lubalin-eot.gif");
	src: local("ITC Lubalin Graph"),
		 url("/fonts/Lubalin-woff.gif") format("woff"),
		 url("/fonts/Lubalin-truetype.gif") format("truetype"),
		 url("/fonts/Lubalin-svg.gif") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ITC Lubalin Graph';
    src: url('/fonts/lubalingraphgi-demi-webfont-webfont.eot');
    src: url('/fonts/lubalingraphgi-demi-webfont-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/lubalingraphgi-demi-webfont-webfont.woff') format('woff'),
         url('/fonts/lubalingraphgi-demi-webfont-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}