html {
	font-family: Arial;
	font-size: 0.75em;
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
}

body {
	line-height: 1.5em;
}

h1 {
	font-size: #{36 / $em}em;
	line-height: 1.5em;
}

h2 {
	@extend h1;
	@media #{$mobile} {
		font-size: #{24 / $em}em;
	}
}