@import "Lubalin"; 

$webfont_alpha:		#{'ITC Lubalin Graph', Arial, sans-serif};

html {
	font-family: Arial;
	font-size: 0.75em;
	-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	color: #333;
}

body {
	line-height: 1.5em;
}

h1 {
	font-size: #{20 / $em}rem;
	line-height: 1.5em;
	margin-bottom: 1rem;
	font-family: $webfont_alpha;
	color: #000;
}

h2 {
	@extend h1;
}

p {
	margin-bottom: 1em;
	&:last-of-type {
		margin: 0;
	}
}