<div class="login_container">
	<h1>Please sign in</h1>
	<p>Qui adipisicing sapiente +1 aliquip. Mixtape kogi ut, beard single-origin coffee adipisicing williamsburg. Kogi sed cred beard assumenda lomo.</p>
	
	<form>
		<label for="login_username">Username:</label>
		<input type="email" name="username" id="login_username" placeholder="username" />
		<label for="login_password">Password:</label>
		<input type="password" name="password" id="login_password" placeholder="password" />
		<p><button>Sign in</button></p>
	</form>
	
	<p>Forgot your <a href="#">username</a> or <a href="#">password?</a></p>
	<p>If you need help remembering your username or password, please <a href="#">contact us</a>.</p>
</div>